src/main/resources/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://api.com/product/schema"
           targetNamespace="http://api.com/product/schema" elementFormDefault="qualified">
    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>